:root {
  --branco: #FFF;
  --azul-claro: #DFE3E5;
  --vermelho-forte: #B72E2E;
  --cinza-escuro: #4F4C4C;
  --cinza-claro: #F7F4F4;
  --cinza-medio: #D9D9D9;
      
  --fonte-link: #0084FF;
  --fonte-cinza: #666;
  --borda-cabecalho-mobile: #103D4A;
  --bg-rodape: #333;
  --bg-chamada-mobile: #00161C;

  --planos-cartao-start: #56CCF2;
  --planos-cartao-ultra: #B04CD9;
  --planos-cartao-mega: #E33B3B;

  --montserrat: 'Montserrat', sans-serif;
}


body {
  font-family: var(--montserrat);
}

.container {
  padding-right: 6%;
  padding-left: 6%;
}

.header {
  background-color: var(--bg-chamada-mobile);
  color: var(--branco);

  width: 100%;
  
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.header_logo {
  margin-bottom: 1rem;
  width: 70px;
}

.header_link {
  font-size: 1.1rem;

  display: inline-block;

  margin-right: 0.7rem;
  margin-bottom: 1.25rem;
  margin-left: 0.7rem;
}

#root {
  height: 600px;
  align-items: center;
  background-color: var(--branco);
}

#root h1 {
  color: var(--cinza-escuro);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#root .list {
  display: flex;
  align-items: center;
}

#root .item {
  color: var(--cinza-escuro);
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: capitalize;

  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-rodape);

  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.footer_social {
  display: flex;
}

.footer_media {
  display: block;

  width: 42px;
  height: 42px;

  margin: 2rem 1rem;
}

.logo {
  width: 42px;
}


@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);
  }

  .header {
    flex-direction: row;
    justify-content: space-between;

    border: none;
  }
}
